<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai58.drm.mapper.AiRecommendMapper">

    <resultMap type="DrmAiRecommend" id="AiRecommendResult">
        <result property="recommendId"    column="recommend_id"    />
        <result property="recommendTitle"    column="recommend_title"    />
        <result property="deptName"    column="dept_name"    />
        <result property="recommendType"    column="recommend_type"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectAiRecommendVo">
        select recommend_id, recommend_title, dept_name, recommend_type, status, create_by, create_time, update_by, update_time, remark from drm_ai_recommend
    </sql>

    <select id="selectAiRecommendList" parameterType="DrmAiRecommend" resultMap="AiRecommendResult">
        <include refid="selectAiRecommendVo"/>
        <where>  
            <if test="recommendTitle != null and recommendTitle != ''"> and recommend_title like concat('%', #{recommendTitle}, '%')</if>
            <if test="deptName != null and deptName != ''"> and dept_name = #{deptName}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectAiRecommendById" parameterType="Long" resultMap="AiRecommendResult">
        <include refid="selectAiRecommendVo"/>
        where recommend_id = #{id}
    </select>
        
    <insert id="insertAiRecommend" parameterType="DrmAiRecommend" useGeneratedKeys="true" keyProperty="recommendId">
        insert into drm_ai_recommend
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recommendTitle != null">recommend_title,</if>
            <if test="deptName != null">dept_name,</if>
            <if test="recommendType != null">recommend_type,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="remark != null">remark,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recommendTitle != null">#{recommendTitle},</if>
            <if test="deptName != null">#{deptName},</if>
            <if test="recommendType != null">#{recommendType},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="remark != null">#{remark},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateAiRecommend" parameterType="DrmAiRecommend">
        update drm_ai_recommend
        <trim prefix="SET" suffixOverrides=",">
            <if test="recommendTitle != null">recommend_title = #{recommendTitle},</if>
            <if test="deptName != null">dept_name = #{deptName},</if>
            <if test="recommendType != null">recommend_type = #{recommendType},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </trim>
        where recommend_id = #{recommendId}
    </update>

    <delete id="deleteAiRecommendById" parameterType="Long">
        delete from drm_ai_recommend where recommend_id = #{id}
    </delete>

    <delete id="deleteAiRecommendByIds" parameterType="String">
        delete from drm_ai_recommend where recommend_id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
