<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai58.drm.mapper.DataQualityMapper">

    <resultMap type="DataQuality" id="DataQualityResult">
        <id     property="qualityId"      column="quality_id"      />
        <result property="createBy"        column="create_by"        />
        <result property="createTime"      column="create_time"      />
        <result property="updateBy"        column="update_by"        />
        <result property="updateTime"      column="update_time"      />
        <result property="remark"          column="remark"           />
        <result property="checkDate" column="check_date" />
        <result property="sourceName" column="source_name" />
        <result property="tableName" column="table_name" />
        <result property="totalCnt" column="total_cnt" />
        <result property="errorCnt" column="error_cnt" />
        <result property="accuracyRate" column="accuracy_rate" />
    </resultMap>

    <sql id="selectDataQualityVo">
        select quality_id, check_date, source_name, table_name, total_cnt, error_cnt, accuracy_rate, create_by, create_time, update_by, update_time, remark
        from drm_data_quality
    </sql>

    <select id="selectDataQuality" parameterType="DataQuality" resultMap="DataQualityResult">
        <include refid="selectDataQualityVo"/>
        <where>
            <if test="qualityId != null">
                and quality_id = #{screenId}
            </if>
        </where>
    </select>

    <select id="selectDataQualityList" parameterType="DataQuality" resultMap="DataQualityResult">
        <include refid="selectDataQualityVo"/>
        <where>
            <if test="params.beginTime != null and params.beginTime != ''">
                and date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                and date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
    </select>

    <insert id="insertDataQuality" parameterType="DataQuality">
        insert into drm_data_quality (
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time
        )values(
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate()
        )
    </insert>

    <update id="updateDataQuality" parameterType="DataQuality">
        update drm_data_quality
        <set>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        where quality_id = #{qualityId}
    </update>

    <delete id="deleteDataQualityById" parameterType="Long">
        delete from drm_data_quality where quality_id = #{qualityId}
    </delete>

    <delete id="deleteDataQualityByIds" parameterType="Long">
        delete from drm_data_quality where quality_id in
        <foreach item="qualityId" collection="array" open="(" separator="," close=")">
            #{screenId}
        </foreach>
    </delete>

</mapper>