<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai58.drm.mapper.QualityReportMapper">

    <resultMap type="DrmQualityReport" id="QualityReportResult">
        <result property="reportId"    column="report_id"    />
        <result property="reportName"    column="report_name"    />
        <result property="deptName"    column="dept_name"    />
        <result property="reportValue"    column="report_value"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectQualityReportVo">
        select report_id, report_name, dept_name, report_value, status, create_by, create_time, update_by, update_time, remark from drm_quality_report
    </sql>

    <select id="selectQualityReportList" parameterType="DrmQualityReport" resultMap="QualityReportResult">
        <include refid="selectQualityReportVo"/>
        <where>  
            <if test="reportName != null and reportName != ''"> and report_name like concat('%', #{reportName}, '%')</if>
            <if test="deptName != null and deptName != ''"> and dept_name = #{deptName}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectQualityReportById" parameterType="Long" resultMap="QualityReportResult">
        <include refid="selectQualityReportVo"/>
        where report_id = #{id}
    </select>
        
    <insert id="insertQualityReport" parameterType="DrmQualityReport" useGeneratedKeys="true" keyProperty="reportId">
        insert into drm_quality_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reportName != null">report_name,</if>
            <if test="deptName != null">dept_name,</if>
            <if test="reportValue != null">report_value,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="remark != null">remark,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reportName != null">#{reportName},</if>
            <if test="deptName != null">#{deptName},</if>
            <if test="reportValue != null">#{reportValue},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="remark != null">#{remark},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateQualityReport" parameterType="DrmQualityReport">
        update drm_quality_report
        <trim prefix="SET" suffixOverrides=",">
            <if test="reportName != null">report_name = #{reportName},</if>
            <if test="deptName != null">dept_name = #{deptName},</if>
            <if test="reportValue != null">report_value = #{reportValue},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </trim>
        where report_id = #{reportId}
    </update>

    <delete id="deleteQualityReportById" parameterType="Long">
        delete from drm_quality_report where report_id = #{id}
    </delete>

    <delete id="deleteQualityReportByIds" parameterType="String">
        delete from drm_quality_report where report_id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
