<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai58.drm.mapper.RollingBudgetMapper">

    <resultMap type="DrmRollingBudget" id="RollingBudgetResult">
        <result property="budgetId"    column="budget_id"    />
        <result property="budgetName"    column="budget_name"    />
        <result property="deptName"    column="dept_name"    />
        <result property="budgetAmount"    column="budget_amount"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectRollingBudgetVo">
        select budget_id, budget_name, dept_name, budget_amount, status, create_by, create_time, update_by, update_time, remark from drm_rolling_budget
    </sql>

    <select id="selectRollingBudgetList" parameterType="DrmRollingBudget" resultMap="RollingBudgetResult">
        <include refid="selectRollingBudgetVo"/>
        <where>  
            <if test="budgetName != null and budgetName != ''"> and budget_name like concat('%', #{budgetName}, '%')</if>
            <if test="deptName != null and deptName != ''"> and dept_name = #{deptName}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectRollingBudgetById" parameterType="Long" resultMap="RollingBudgetResult">
        <include refid="selectRollingBudgetVo"/>
        where budget_id = #{id}
    </select>
        
    <insert id="insertRollingBudget" parameterType="DrmRollingBudget" useGeneratedKeys="true" keyProperty="budgetId">
        insert into drm_rolling_budget
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="budgetName != null">budget_name,</if>
            <if test="deptName != null">dept_name,</if>
            <if test="budgetAmount != null">budget_amount,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="remark != null">remark,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="budgetName != null">#{budgetName},</if>
            <if test="deptName != null">#{deptName},</if>
            <if test="budgetAmount != null">#{budgetAmount},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="remark != null">#{remark},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateRollingBudget" parameterType="DrmRollingBudget">
        update drm_rolling_budget
        <trim prefix="SET" suffixOverrides=",">
            <if test="budgetName != null">budget_name = #{budgetName},</if>
            <if test="deptName != null">dept_name = #{deptName},</if>
            <if test="budgetAmount != null">budget_amount = #{budgetAmount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </trim>
        where budget_id = #{budgetId}
    </update>

    <delete id="deleteRollingBudgetById" parameterType="Long">
        delete from drm_rolling_budget where budget_id = #{id}
    </delete>

    <delete id="deleteRollingBudgetByIds" parameterType="String">
        delete from drm_rolling_budget where budget_id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
