<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai58.drm.mapper.SyncTaskMapper">

    <resultMap type="DrmSyncTask" id="SyncTaskResult">
        <result property="taskId"    column="task_id"    />
        <result property="taskName"    column="task_name"    />
        <result property="deptName"    column="dept_name"    />
        <result property="taskValue"    column="task_value"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSyncTaskVo">
        select task_id, task_name, dept_name, task_value, status, create_by, create_time, update_by, update_time, remark from drm_sync_task
    </sql>

    <select id="selectSyncTaskList" parameterType="DrmSyncTask" resultMap="SyncTaskResult">
        <include refid="selectSyncTaskVo"/>
        <where>  
            <if test="taskName != null and taskName != ''"> and task_name like concat('%', #{taskName}, '%')</if>
            <if test="deptName != null and deptName != ''"> and dept_name = #{deptName}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectSyncTaskById" parameterType="Long" resultMap="SyncTaskResult">
        <include refid="selectSyncTaskVo"/>
        where task_id = #{id}
    </select>
        
    <insert id="insertSyncTask" parameterType="DrmSyncTask" useGeneratedKeys="true" keyProperty="taskId">
        insert into drm_sync_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskName != null">task_name,</if>
            <if test="deptName != null">dept_name,</if>
            <if test="taskValue != null">task_value,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="remark != null">remark,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskName != null">#{taskName},</if>
            <if test="deptName != null">#{deptName},</if>
            <if test="taskValue != null">#{taskValue},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="remark != null">#{remark},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateSyncTask" parameterType="DrmSyncTask">
        update drm_sync_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskName != null">task_name = #{taskName},</if>
            <if test="deptName != null">dept_name = #{deptName},</if>
            <if test="taskValue != null">task_value = #{taskValue},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </trim>
        where task_id = #{taskId}
    </update>

    <delete id="deleteSyncTaskById" parameterType="Long">
        delete from drm_sync_task where task_id = #{id}
    </delete>

    <delete id="deleteSyncTaskByIds" parameterType="String">
        delete from drm_sync_task where task_id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
